<style>
.overview {
  position: relative;
  display: inline-block;
}

.large {
  font-weight: bold;
}

.credit {
  color: green;
}

.ic {
  font-size: xx-small;
}

.details {
  visibility: hidden;
  background-color: %s;
  z-index: 1;
  position: absolute;
}

.dethead {
    font-size: x-small;
}

.detdate {
    font-size: x-small;
}

.detamt {
    font-size: x-small;
}

.detpay {
    font-size: x-small;
}

.detcat {
    font-size: x-small;
}

.detitem {
    font-size: x-small;
}

.overview:hover .details {
  visibility: visible;
}

table.summarytable {
  border: 1px solid black;
  width: 100%%;
}

.duplicated {
  color: red;
}
</style>
