BODY {
    color: maroon;

    /* TODO: which of these should it be? */
    background:       #f0e0b0; /* vellum */
    background-color: #f0e0b0; /* vellum */
    scrollbar-color:  #e0d0a0 #f0e0b0;

    font-family:      sans-serif;
    font-size:        small;
    font-style:       normal;
    font-weight:      normal;
    margin-top:       2em;
    margin-bottom:    5em;
    margin-left:      5%;
    margin-right:     8%;
    text-align:       left;   /* discourage justification */
    letter-spacing:   0;  /* in fact, switch it right off */
    /* line-height: 125% */
}

A:link    { color: #000060; text-decoration: none }
A:active  { color: green; text-decoration: none }
A:visited { color: purple; text-decoration: none }

a.plainlink:link {
    color: maroon;
}

a.plainlink:active {
    color: maroon;
}

a.plainlink:visited {
    color: maroon;
}

H1 {
    font-size:      large;
    font-style:     normal;
    font-weight:    bold;
    padding:        4px;
    padding-left:   8px;
    padding-right:  8px;
    background:     #e0d0a0;
    color:          maroon;
    border-top:     2px solid maroon;
    border-bottom:  2px solid maroon;
    border-left:    2px solid maroon;
    border-right:   2px solid maroon;
    border-radius:  8px;
}

H2 {
    font-size:      medium;
    font-style:     normal;
    font-weight:    bold;
    padding:        4px;
    padding-left:   8px;
    padding-right:  8px;
    background:     #e0d0a0;
    color:          maroon;
    border-top:     2px solid maroon;
    border-bottom:  2px solid maroon;
    border-left:    2px solid maroon;
    border-right:   2px solid maroon;
    border-radius:  8px;
}

H3 {
    font-size:      small;
    font-style:     normal;
    font-weight:    bold;
    padding:        4px;
    padding-left:   8px;
    padding-right:  8px;
    background:     #e0d0a0;
    color:          maroon;
    border-top:     2px solid maroon;
    border-bottom:  2px solid maroon;
    border-left:    2px solid maroon;
    border-right:   2px solid maroon;
    border-radius:  8px;
}

H4 {
    font-size:      small;
    font-style:     normal;
    font-weight:    bold;
    padding:        4px;
    padding-left:   8px;
    padding-right:  8px;
    background:     #e0d0a0;
    color:          maroon;
    border-top:     2px solid maroon;
    border-bottom:  2px solid maroon;
    border-left:    2px solid maroon;
    border-right:   2px solid maroon;
    border-radius:  8px;
}

div.contacts_characteristics {
    overflow: scroll;
    height: 24em;
}

div.inventory_list {
    overflow: scroll;
    height: 24em;
}

.active {
    background-color: maroon;
    color:            #f0e0b0;
}

.inactive {
    background-color: #f0e0b0;
    color:            maroon;
}

td.time_of_day {
    padding-left:   4px;
    padding-right:  4px;
}

td.activity {
    padding-left:   4px;
    padding-right:  4px;
}

div[name="all_time"] {
    display: none;
}

div[name="past_year"] {
    display: none;
}

div[name="past_quarter"] {
    display: block;
}

div[name="past_month"] {
    display: none;
}

div[name="past_week"] {
    display: none;
}

.activity_logger {
    background:     #e0d0a0;
    color:          maroon;
}

table.bordered_table {
    border: 1px solid black;
}

table.financial {
    border: 1px solid black;
    border-spacing: 1em 0px;
}

.use_soon {
    color: red;
    font-weight:    bold;
}

.use_later {
}

/* Use with: */
/*  <div class="flex-container"> */
/*   <div>1</div> */
/*   <div>2</div> */
/*   <div>3</div> */
/* </div>  */

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.overview:hover .details {
  visibility: visible;
}

.details {
  visibility: hidden;
  background-color: yellow;
  z-index: 1;
  position: absolute;
}
