td.ok {
    background-color: green;
}
td.overspent {
    background-color: red;
}

.all_time {
    visibility: hidden;
}

.past_year {
    visibility: hidden;
}

.past_quarter {
    visibility: visible;
}

.past_month {
    visibility: hidden;
}

.past_week {
    visibility: hidden;
}
